
Source/JpT/obj/Release/View/View_Flashcard.g.i.cs
Source/JpT/obj/Release/View/View_Flashcard.g.cs
Source/JpT/obj/Release/View/View_Flashcard.baml
Source/JpT/obj/Release/MainWindow.g.i.cs
Source/JpT/obj/Release/MainWindow.g.cs
Source/JpT/obj/Release/MainWindow.baml
Source/JpT/obj/Release/JpT_MarkupCompile.lref
Source/JpT/obj/Release/JpT_MarkupCompile.cache
Source/JpT/obj/Release/JpT_Content.g.i.cs
Source/JpT/obj/Release/JpT_Content.g.cs
Source/JpT/obj/Release/JpT.Resource.Messages.resources
Source/JpT/obj/Release/JpT.Properties.Resources.resources
Source/JpT/obj/Release/JpT.g.resources
Source/.vs/JpT/v16/.suo
JpT.exe.config
Source/_Debug/EPPlus.dll
Source/_Debug/JpT.exe
Source/_Debug/JpT.exe.config
Source/_Debug/JpT.pdb
Source/_Debug/MaterialDesignColors.dll
Source/_Debug/MaterialDesignThemes.Wpf.dll
Source/_Debug/WpfAnimatedGif.dll
Source/JpT/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
Source/JpT/obj/Debug/App.baml
Source/JpT/obj/Debug/App.g.cs
Source/JpT/obj/Debug/App.g.i.cs
Source/JpT/obj/Debug/JpT.csproj.CopyComplete
Source/JpT/obj/Debug/JpT.csproj.CoreCompileInputs.cache
Source/JpT/obj/Debug/JpT.csproj.FileListAbsolute.txt
Source/JpT/obj/Debug/JpT.csproj.GenerateResource.cache
Source/JpT/obj/Debug/JpT.exe
Source/JpT/obj/Debug/JpT.g.resources
Source/JpT/obj/Debug/JpT.pdb
Source/JpT/obj/Debug/JpT.Properties.Resources.resources
Source/JpT/obj/Debug/JpT.Resource.Messages.resources
Source/JpT/obj/Debug/JpT_Content.g.cs
Source/JpT/obj/Debug/JpT_Content.g.i.cs
Source/JpT/obj/Debug/JpT_MarkupCompile.cache
Source/JpT/obj/Debug/JpT_MarkupCompile.lref
Source/JpT/obj/Debug/MainWindow.baml
Source/JpT/obj/Debug/MainWindow.g.cs
Source/JpT/obj/Debug/MainWindow.g.i.cs
Source/JpT/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
Source/JpT/obj/Debug/TempPE/Resource.Messages.Designer.cs.dll
Source/JpT/obj/Debug/View/View_Flashcard.baml
Source/JpT/obj/Debug/View/View_Flashcard.g.cs
Source/JpT/obj/Debug/View/View_Flashcard.g.i.cs
Source/JpT/obj/Release/.NETFramework,Version=v4.5.AssemblyAttributes.cs
Source/JpT/obj/Release/App.baml
Source/JpT/obj/Release/App.g.cs
Source/JpT/obj/Release/App.g.i.cs
Source/JpT/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Source/JpT/obj/Release/JpT.csproj.CopyComplete
Source/JpT/obj/Release/JpT.csproj.CoreCompileInputs.cache
Source/JpT/obj/Release/JpT.csproj.FileListAbsolute.txt
Source/JpT/obj/Release/JpT.csproj.GenerateResource.cache
Source/JpT/obj/Release/JpT.csprojAssemblyReference.cache
Source/JpT/obj/Release/JpT.exe
Source/.vs/JpT/v16/.suo
